<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>APPointsPerPlayer</key>
	<integer>4</integer>
	<key>APPointsPerPlayerThatCarry</key>
	<integer>0</integer>
	<key>APPointsPerZombie</key>
	<integer>2</integer>
	<key>EdgeWeights</key>
	<array>
		<array>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>1</real>
				<real>0.0</real>
				<real>1</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>1</real>
				<real>0.0</real>
				<real>1</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<array>
				<real>1</real>
				<real>1</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>1</real>
				<real>1</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>1</real>
			</array>
			<array>
				<real>0.0</real>
				<real>1</real>
				<real>0.0</real>
				<real>1</real>
				<real>1</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>1</real>
				<real>1</real>
				<real>0.0</real>
				<real>1</real>
				<real>1</real>
			</array>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
		</array>
		<array>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>1</real>
				<real>1</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>1</real>
				<real>1</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>1</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<array>
				<real>0.0</real>
				<real>1</real>
				<real>1</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<array>
				<real>0.0</real>
				<real>1</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>1</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>1</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
			<array>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
				<real>0.0</real>
			</array>
		</array>
	</array>
	<key>LevelName</key>
	<string>RedBox</string>
	<key>MaxPlayers</key>
	<integer>2</integer>
	<key>MaxZombiesPerPlayer</key>
	<integer>4</integer>
	<key>NumberOfPlayTiles</key>
	<string>(13.000000,9.000000)</string>
	<key>NumberOfZombiesInitial</key>
	<integer>2</integer>
	<key>NumberOfZombiesPerTurn</key>
	<integer>2</integer>
	<key>OffsetToFirstPlayTile</key>
	<string>(24,31)</string>
	<key>PlayerSpawnPoints</key>
	<array>
		<string>(3,0)</string>
		<string>(9,0)</string>
	</array>
	<key>SizeOfPlayTile</key>
	<string>(36.000000,36.000000)</string>
	<key>ZombieSpawnPoints</key>
	<array>
		<array>
			<string>(0,7)</string>
			<string>(1,7)</string>
			<string>(2,7)</string>
			<string>(3,7)</string>
			<string>(4,7)</string>
			<string>(5,7)</string>
			<string>(6,7)</string>
			<string>(7,7)</string>
			<string>(8,7)</string>
			<string>(9,7)</string>
			<string>(10,7)</string>
			<string>(11,7)</string>
			<string>(12,7)</string>
			<string>(0,7)</string>
			<string>(1,7)</string>
			<string>(2,7)</string>
			<string>(3,7)</string>
			<string>(4,7)</string>
			<string>(5,7)</string>
			<string>(6,7)</string>
			<string>(7,7)</string>
			<string>(0,8)</string>
			<string>(1,8)</string>
			<string>(2,8)</string>
			<string>(3,8)</string>
			<string>(4,8)</string>
			<string>(5,8)</string>
			<string>(6,8)</string>
			<string>(7,8)</string>
			<string>(8,8)</string>
			<string>(10,8)</string>
			<string>(11,8)</string>
			<string>(12,8)</string>
			<string>(1,8)</string>
			<string>(2,8)</string>
			<string>(3,8)</string>
			<string>(4,8)</string>
			<string>(9,8)</string>
		</array>
		<array>
			<string>(12,8)</string>
			<string>(11,8)</string>
			<string>(10,8)</string>
			<string>(9,8)</string>
		</array>
	</array>
</dict>
</plist>
