<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OffsetToFirstPlayTile</key>
	<string>(29,46)</string>
	<key>NumberOfPlayTiles</key>
	<string>(13,8)</string>
	<key>SizeOfPlayTile</key>
	<string>(35,35)</string>
	<key>MaxPlayers</key>
	<integer>2</integer>
	<key>PlayerSpawnPoints</key>
	<array>
		<string>(4,0)</string>
		<string>(6,0)</string>
	</array>
	<key>NumberOfZombiesInitial</key>
	<integer>2</integer>
	<key>NumberOfZombiesPerTurn</key>
	<integer>2</integer>
	<key>MaxZombiesPerPlayer</key>
	<integer>4</integer>
	<key>ZombieSpawnPoints</key>
	<array>
		<array>
			<string>(0,8)</string>
			<string>(1,8)</string>
			<string>(2,8)</string>
			<string>(3,8)</string>
			<string>(4,8)</string>
			<string>(5,8)</string>
			<string>(6,8)</string>
			<string>(7,8)</string>
			<string>(8,8)</string>
			<string>(9,8)</string>
			<string>(10,8)</string>
			<string>(11,8)</string>
			<string>(12,8)</string>
			<string>(13,8)</string>
		</array>
	</array>
	<key>APPointsPerZombie</key>
	<integer>2</integer>
</dict>
</plist>
