<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OffsetToFirstPlayTile</key>
	<string>(29,46)</string>
	<key>NumberOfPlayTiles</key>
	<string>(13,8)</string>
	<key>SizeOfPlayTile</key>
	<string>(35,35)</string>
	<key>MaxPlayers</key>
	<integer>2</integer>
	<key>PlayerSpawnPoints</key>
	<array>
		<string>(4,0)</string>
		<string>(6,0)</string>
	</array>
	<key>NumberOfZombiesInitial</key>
	<integer>2</integer>
	<key>NumberOfZombiesPerTurn</key>
	<integer>2</integer>
	<key>MaxZombiesPerPlayer</key>
	<integer>4</integer>
	<key>ZombieSpawnPoints</key>
	<array>
		<array>
			<string>(8,0)</string>
			<string>(8,1)</string>
			<string>(8,2)</string>
			<string>(8,3)</string>
			<string>(8,4)</string>
			<string>(8,5)</string>
			<string>(8,6)</string>
			<string>(8,7)</string>
			<string>(8,8)</string>
			<string>(8,9)</string>
			<string>(8,10)</string>
			<string>(8,11)</string>
			<string>(8,12)</string>
			<string>(8,13)</string>
		</array>
	</array>
</dict>
</plist>
